<h1>All Articles</h1>
<ul>
    {{#each allArticles}}
    <li>
        <a href="/articles/{{article_title}}">{{article_title}}</a>
    </li>
    {{/each}}
</ul>

<a href="/">Home</a>
<a href="/articles/new">Add Article</a>