<h1>Add New Product</h1>

<form action="/products" method="post">
    Name:
    <br>
    <input type="text" name="name">
    <br> Price:
    <br>
    <input type="text" name="price">
    <br> Inventory:
    <br>
    <input type="text" name="inventory">
    <br>
    <button>Submit</button>
</form>